#enllaç {
    color: #007BFF;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease;
}
  
#enllaç:visited {
    color: #007BFF;
}
  
#enllaç:hover {
    color: #0056b3;
    text-shadow: 0 0 4px #66b2ff;
    transform: scale(1.1) rotate(-2deg);
}
  
#enllaç:active {
    transform: scale(0.95) rotate(1deg);
    text-shadow: 0 0 8px #3399ff;
}

#text_canvis {
    background-color: #00ffff;
    padding: 20px;
    text-align: left;
    margin: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: block;
    justify-content: flex-start;
    align-items: center;    
    position: sticky;
    top: 40px;
    font-weight: lighter;
}

#titol_canvis {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2em;
    color: #FF69B4; /* Rosa vibrants */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombra suau */
  }  

#text_canvis p {
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

#text_canvis a {
    color: #ff00ff; 
    text-decoration: none;
    font-weight: bold;
}

#text_canvis a[id^="link"] {
    text-decoration: underline; 
}

#text_canvis a:hover { 
    color: rgb(0, 145, 0); 
    font-family: 'Comic Sans MS';
    text-decoration: underline;
}

#text_canvis a:active { 
    color: #606060; 
}    