#checkboxContainer {
    background-color: #d30505;
    padding: 10px;
    text-align: left;
    margin: 40px;
    margin-right: 0px;
    border-radius: 10px;
    align-items: center;
    position: sticky;
    top: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    min-width: 140px;
    max-width: 200px;
    height: auto;
    overflow: auto;
}

#checkboxContainer label {
    display: none;
}

@media screen and (max-width: 750px) {
    #checkboxContainer {
        font-size: 12px;
        min-width: 131px;
    }
}

@media screen and (max-width: 550px) {
    #checkboxContainer {
        font-size: 10px;
        min-width: 120px;
    }
    
}
