#separador_rosa1{
    background-color: #FF91FF;
    height: 40px;
    position: sticky;
    top: 0px
}

#separador_rosa_nosaltres{
    background-color: #FF91FF;
    height: 60px;
    position: sticky;
    top: 0px
}

#separador_rosa2{
    background-color: #FF91FF;
    height: 40px;
    position: sticky;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.container {
    background-color: #00ffff;
    padding: 20px;
    text-align: left;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: block;
    justify-content: flex-start;
    align-items: center;    
    position: sticky;
    top: 40px;
    font-weight: bold;
}

.search-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

#paraulaCercada {
    margin-right: 15px;
    height: 38px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px solid #3498db;
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    padding-left: 12px;
}


#paraulaCercada:focus {
    border-color: #d975d9;
    outline: none;
}

.boto {
    flex-shrink: 0;
    align-items: center;
    background-image: linear-gradient(144deg, #ff0000, #ff7300 11.11%, #fffb00 22.22%, #48ff00 33.33%, #00ffd5 44.44%, #002bff 55.55%, #7a00ff 66.66%, #ff00c8 77.77%, #ff0000);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

#cercaButton {
    width: 120px;
}

.boto span {
    background-color: rgb(5, 6, 45);
    padding: 10px 16px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 150ms;
}

.boto:hover span {
    background: none;
    color: rgb(5, 6, 45);
    font-family: 'Comic Sans MS';
    font-weight: bold;
}



.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.dropdown-container label {
    flex: 1 1 150px;
    margin-right: 0px;
}

.dropdown-container select {
    flex: 1 1 200px;
    max-width: 100%;
}




@media screen and (max-width: 750px) {
    .dropdown-container {
        font-size: 12px;
    }
    #paraulaCercada {
        height: 33px;
    }
}

@media screen and (max-width: 550px) {
    .dropdown-container {
        font-size: 10px;
    }
    #paraulaCercada {
        height: 29px;
    }
    
}
