#footer {
    color: black;
    text-align: center;
    padding: 15px;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: rgb(179, 1, 1); 
    text-decoration: none;
}

#footer a:hover {
    color: #00ffff;
    font-family: 'Comic Sans MS';
    text-decoration: underline;

}

#footer a:active {
    color: #01b7b7;
}

#footer a:visited {
    color: rgb(179, 1, 1); 
}