header {
    background: url("../../assets/bubbles.png") repeat;
    background-size: 120px 120px; 
    background-color: #d30505; 
    padding: 10px;
    color: #fff; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100px;
    text-align: center;
    width: 100%;
}

.peixet{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 10%;
}

.rimador {
    display: inline-block;
    width: 480px;
    height: auto; 
    margin-left: 5%;
}

@media screen and (max-width: 750px) {
    .peixet {
        width: 67px;
        height: 67px;
    }
    .rimador {
        width: 360px;
        height: auto;     
    }
    header {
        height: 75px;
        padding: 7px;
        background-size: 90px 90px; 
    }
}

@media screen and (max-width: 550px) {
    .peixet {
        width: 45px;
        height: 45px;
    }
    .rimador {
        width: 240px;
        height: auto;     
    }
    header {
        height: 50px;
        padding: 5px;
        background-size: 60px 60px; 
    }
}
