#text_presentació {
    background-color: #00ffff;
    padding: 20px;
    text-align: center;
    margin: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: block;
    justify-content: flex-start;
    align-items: center;    
    position: sticky;
    top: 40px;
    font-weight: lighter;
}

#text_presentació p {
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

#text_presentació a {
    color: #ff00ff; 
    text-decoration: none;
    font-weight: bold;
}

#text_presentació a[id^="link"] {
    text-decoration: underline; 
}

#text_presentació a:hover { 
    color: rgb(0, 145, 0); 
    font-family: 'Comic Sans MS';
    text-decoration: underline;
}

#text_presentació a:active { 
    color: #606060; 
}

#arimar {
    text-align: center;
}

#arimar a {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: none;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 27px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    position: relative; 
}

#arimar a:hover {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    background-clip: none;
    -webkit-background-clip: text;
    color: transparent;
}

#arimar a:after {
    content: '';
    position: absolute;
    bottom: -2px;  
    left: 0;
    width: 100%;
    height: 2px;  
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); 
}

#arimar a:hover:after {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet); 
}