# Dependències de Node.js
node_modules/
npx.txt

# Fitxers del sistema
.DS_Store
Thumbs.db

# Notebooks de treball
proves/
diccionaris/*.ipynb
diccionaris/*.txt

# Minimitzats
dist/

# JS antics
js_antics/

# HTML's
html/index_sense_formulari.html
html/prova_nosaltres (malament).html
html/prova_nosaltres copy.html
index(amb formulari normal).html
