# Dependències de Node.js
node_modules/

gulp-dev.command

# Fitxers del sistema
.DS_Store
Thumbs.db

#cache py
__pycache__/

# Minimitzats
dist/

#carpeta pronoms
pronoms/previa/

#avis mensual
avis/
