# Dependències de Node.js
node_modules/

# Fitxers del sistema
.DS_Store
Thumbs.db

# Notebooks de treball
proves/
diccionaris/*.ipynb

# Minimitzats
dist/

# JS antics
js/script_moltantic.js
js/script_antic_"22-3".js
